:root {
  --red-color: #FF1510;
  --red-light-color: #FDECED;
  --green-light-color: #E7F6E7;

  --grey-900: #404040;
  --grey-500: #8C8C8C;
  --grey-100: #B9B9B9;
}

*{
  box-sizing: border-box;
  border: 0;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--grey-900)
}


footer{
  display: flex;
  height: 100px;
  background-color: var(--red-color);
}